<launch>

    <arg name="map_file" default="$(find b2_nav)/map/b2-downstairs4.yaml"/>

    <!-- Run the map server --> 
    <node name="map_server" pkg="map_server" type="map_server"
          args="$(arg map_file)" required="true"/>


    <!--- Run AMCL --> 
    <node name="amcl" pkg="amcl" type="amcl" output="screen">
        <rosparam file="$(find b2_nav)/config/amcl/amcl_params.yaml" command="load"/>   
        <remap from="odom" to="base_node/odom"/>  
    </node>

</launch> 
