<launch>

    <arg name="map_file" default="$(find b2_slam_toolbox)/map/b2-downstairs3.yaml"/>

    <!-- Run the map server --> 
    <node name="map_server" pkg="map_server" type="map_server"
        args="$(arg map_file)" required="true"/>

    <!--- Run AMCL --> 
    <include file="$(find amcl)/examples/amcl_diff.launch" />

    <node pkg="move_base" type="move_base" respawn="false" name="move_base"
        output="screen" required="true">
        <rosparam file="$(find b2_nav)/config/costmap_common_params.yaml"     command="load" ns="global_costmap" /> 
        <rosparam file="$(find b2_nav)/config/costmap_common_params.yaml"     command="load" ns="local_costmap" />
        <rosparam file="$(find b2_nav)/config/local_costmap_params.yaml"      command="load" />
        <rosparam file="$(find b2_nav)/config/global_costmap_params.yaml"     command="load" /> 
        <rosparam file="$(find b2_nav)/config/base_local_planner_params.yaml" command="load" />
    </node>

</launch> 
